@{
    ViewBag.Title = "Company Overview:";
}
<h2>@ViewBag.Title.</h2>
<p>


    ApoloCare Hospitals was established in 1983 by Dr. Prathap C Reddy, renowned as the architect of modern healthcare in India. As the nation's first corporate hospital, ApoloCare Hospitals is acclaimed for pioneering the private healthcare revolution in the country.
    <br /><br /><br />
    ApoloCare Hospitals has emerged as Asia's foremost integrated healthcare services provider and has a robust presence across the healthcare ecosystem, including Hospitals, Pharmacies, Primary Care & Diagnostic Clinics and several retail health models. The Group also has Telemedicine facilities across several countries, Health Insurance Services, Global Projects Consultancy, Medical Colleges, Medvarsity for E-Learning, Colleges of Nursing and Hospital Management and a Research Foundation. In addition, 'ASK ApoloCare' - an online consultation portal and ApoloCare Home Health provide the care continuum.
    <br /><br /><br />
    The cornerstones of ApoloCare's legacy are its unstinting focus on clinical excellence, affordable costs, modern technology and forward-looking research & academics. ApoloCare Hospitals was among the earliest hospitals in the world to leverage technology to facilitate seamless healthcare delivery. The organization embraced the rapid advancement in medical equipments across the world, and pioneered the introduction of several cutting edge innovations in India. One of the most significant technological advancements introduced by ApoloCare Hospitals is the Proton Therapy Centre in Chennai – the first such centre in entire South East Asia, serving over 3.5 Billion people across the region.
    <br /><br /><br />
    ApoloCare Hospitals was the first in India to launch the concept of Preventive Health Checks. From the date of inception in 1987 till date, over 20 Million health checks have been completed.
    <br /><br /><br />
    ApoloCare Hospitals is the largest provider of Cardiology services in India. ApoloCare Hospitals has treated the largest number of cardiovascular cases with advanced cardiac interventional methods including 6 out of 9 MITRACLIP procedures; 85 TAVI/TAVRs with excellent clinical outcomes; and over 1,250 MICS CABG procedures across the country.
    <br /><br /><br />
    Since its inception, ApoloCare Hospitals has been honoured by the trust of over 150 million individuals who come from 140 countries. At the core of ApoloCare's patient-centric culture is TLC (Tender Loving Care), the magic that inspires hope amongst its patients.
    <br /><br /><br />
    ApoloCare Hospitals Group is the only one in India to partner with Microsoft's AI Network for AI-powered Cardiovascular Disease Risk Score API. The API enables physicians to predict the risk of CVDs at least 5 to 7 years in advance in patients. Over 200,000 patients have been screened till date.
    <br /><br /><br />
    ApoloCare Hospitals, in partnership with Abbott, has also set up India's first National Cardiac Registry.
    <br /><br /><br />
    ApoloCare Hospitals is the first and largest hospital group in India to launch a skill on Amazon Alexa to book appointments and search for nearest hospitals & pharmacies using the AI-powered voice assistant.
    <br /><br /><br />
    As a responsible corporate citizen, ApoloCare Hospitals takes the spirit of leadership well beyond business and has embraced the responsibility of keeping India healthy. Recognizing that Non Communicable Diseases (NCDs) are the greatest threat to the nation, ApoloCare Hospitals is continuously educating people about preventive healthcare as the key to wellness. Likewise, envisioned by Dr. Prathap C Reddy, the "Billion Hearts Beating Foundation" endeavours to keep Indians heart-healthy.
    <br /><br /><br />
    ApoloCare Hospitals has championed numerous social initiatives - to cite a few which assist underprivileged children - SACHi (Save a Child's Heart Initiative) which screens and provides paediatric cardiac care for congenital heart diseases, SAHI (Society to Aid the Hearing Impaired) and the CURE Foundation focused on cancer care. To introduce population health into the Indian narrative, the Total Health Foundation, as envisaged by Dr. Reddy, is piloting a unique model of healthcare in the Thavanampalle Mandal of Andhra Pradesh. It aims to provide "holistic healthcare" for the entire community starting from birth, through one's journey into childhood, adolescence, adulthood and old age.
    <br /><br /><br />
    In a rare honour, the Government of India had issued a commemorative stamp in recognition of ApoloCare's widespread contributions, the first for a healthcare organization. In addition, a stamp was also released to mark the 15th anniversary of India's 1st successful liver transplant performed at ApoloCare Hospitals. More recently ApoloCare Hospitals was again honoured with a postal stamp for having successfully performed 20 million health checks and its pioneering efforts in encouraging preventive healthcare in the country.
    <br /><br /><br />
    Dr. Prathap C Reddy, Founder Chairman of the ApoloCare Hospitals Group has been conferred with the prestigious Padma Vibhushan, India's second highest civilian award.
    <br /><br /><br />
    <h2>Company Vision:</h2>

    ApoloCare's vision for the next phase of development is to 'Touch a Billion Lives'.
    <br />
    <br />
    <br />
    <h2>Mission Statement:</h2>

    "Our mission is to bring healthcare of International standards within the reach of every individual. We are committed to the achievement and maintenance of excellence in education, research and healthcare for the benefit of humanity"


</p>