@{
    ViewBag.Title = "Contact Us";
    ViewBag.Message = "Address Details:";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Faculty Of Technology,<br />
    Dharamsinh Desai University,<br />
    Nadiad. - 3870001<br />
    <abbr title="Phone">Phone:</abbr>
    +91-9876543210
</address>

<address>
    <strong>Customer Care:</strong>   <a href="#">apolohelp@gmail.com</a><br />
</address>